# Database
POSTGRES_USER=blog
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=blog_production
DATABASE_HOST=db
DATABASE_PORT=5432

# Rails
RAILS_ENV=production
RAILS_MASTER_KEY=generate_with_bin/rails credentials:edit
SECRET_KEY_BASE=generate_with_bin/rails secret

# App
RAILS_RELATIVE_URL_ROOT=/blog

# API
API_TOKEN=generate_a_secure_random_token
